{% extends 'base.html' %}
{% block content %}
<h2>Search for Variation by Gene:</h2>
<form role="search" method="" action="#">
    <div class="input-group">
        <table class="table">
        <tr>
        <td>
         Gene ID/Symbol/Name<input id="gene_name" type="text" name='gene' class="form-control" value="" placeholder="Input one Gene Symbol/Name">
        </td>
        <td>
          Select a file<select class="form-control" data-width="25%" name="file" id="select_file">
                          <option value= selected="selected"></option>
                          {% for file in files %}
                          <option value={{file}}>{{file}}</option>
                          {% endfor %}
                        </select>
        </td>
        </tr>
        <tr>
        <td>
        Upstream (kb, optional, must &lt;&#61; 10kb) <input id="up" type="text" name='up' class="form-control" value=2 placeholder="Upstream Region(kb)">
        </td>
        <td>
        Downstream (kb, optional, must  &lt;&#61; 10kb) <input id="down" type="text" name='down' class="form-control" value=1 placeholder="Downstream Region(Kb)">
        </td>
        </tr>
        <!--
        <tr>
        <td>
        <div class="input-group-btn">
            <button id="submit" type="submit" class="btn btn-success btn-sm">
                Submit
            </button>
        </div>
        </td>
        </tr>
        -->
        </table>
    </div>
</form>
<div>
  <h2>Divide groups:</h2>
  <div class="panel-heading">
  <h3 class="panel-title">Divide samples which showed below to two groups.</h3>
  </div>
  <div class="row">
    <div class="col-xs-5">
        <select name="from[]" id="multi_d" class="form-control" size="26" multiple="multiple">
          {% for sample in samples %}
          <option value="{{ sample }}">{{ sample }}</option>
          {% endfor %}
        </select>
    </div>

    <div class="col-xs-2">
        <button type="button" id="multi_d_rightAll" class="btn btn-default btn-block" style="margin-top: 20px;"><i class="glyphicon glyphicon-forward"></i>&nbsp;ADD ALL</button>
        <button type="button" id="multi_d_rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i>&nbsp;ADD</button>
        <button type="button" id="multi_d_leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;REMOVE</button>
        <button type="button" id="multi_d_leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i>&nbsp;REMOVE ALL</button>

        <hr style="margin: 40px 0 60px;" />

        <button type="button" id="multi_d_rightAll_2" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i>&nbsp;ADD ALL</button>
        <button type="button" id="multi_d_rightSelected_2" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i>&nbsp;ADD</button>
        <button type="button" id="multi_d_leftSelected_2" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;REMOVE</button>
        <button type="button" id="multi_d_leftAll_2" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i>&nbsp;REMOVE ALL</button>
    </div>

    <div class="col-xs-5">
        <b>group A</b>
        <select name="to[]" id="multi_d_to" class="form-control" size="8" multiple="multiple"></select>

        <br/><hr/><br/>

        <b>group B</b>
        <select name="to_2[]" id="multi_d_to_2" class="form-control" size="8" multiple="multiple"></select>
    </div>
</div>
</div>
<div class="panel-body">
  <input class="btn btn-primary btn-sm"  id="submit" type="submit"  value="Submit">
</div>
<hr/>
<!-- add loading hint -->
<div id="query_hint"></div>
<h2>Search Results:</h2>
<div id="results-table"></div>
{% endblock %}

{% block js %}
<script src="/static/js/main.js"></script>
<script>
function check_gene(info){
  var keys = Object.keys(info);
  for(var i = 0; i < keys.length; i++){
    if(info[keys[i]].length == 0){
        createAlert(keys[i] + ' is empty!');
        return false;
    }
  }
  if(Number(info['gene_upstream']) > 2 || Number(info['gene_downstream'] > 2)){
      createAlert('upstream & downstream not allowed > 2');
      return false;
  }else{
      return true;
  }
}
$(document).ready(function(){
  // multiselect plugin
  select_plugin()
  $("#select_file").change(function(){
    var fileSelect = $(this).find("option:selected").text();
    ajaxSend('{{ url_for('variation.select_file_by_variation') }}', {'file': fileSelect}, function(data){
      var msg = data.msg;
      if(msg == 'error'){
          createAlert('not find samples!');
          $("#multi_d").empty();
      }else{
          $("#multi_d").empty();
          samples = data.msg;
        for(var i=0;i<samples.length;i++){
          var tmp = $('<option value="' + samples[i] + '">' + samples[i] + '</option>');
          tmp.appendTo('#multi_d');
        }
      }
    });
  });
  $('#submit').click(function(){
    var gene_name = $("#gene_name").val();
    var gene_upstream = $("#up").val();
    var gene_downstream = $("#down").val();
    var table = $("#select_file").find("option:selected").text();
    var groupA = [];
    var groupB = [];
    $("#multi_d_to option").each(function(){
      groupA.push($(this).text());
    });
    $("#multi_d_to_2 option").each(function(){
      groupB.push($(this).text());
    });
    var info = {'gene_name': gene_name,
                'table': table,
                'gene_upstream': gene_upstream,
                'gene_downstream': gene_downstream,
                'groupA': groupA,
                'groupB': groupB,
                'search': 'gene'}
    if(check_gene(info)){
      info = JSON.stringify(info);
      $("#query_hint").empty();
      var hint = $('<span><img src="../static/images/hint.gif" />' + 'loading data, please wait...</span>');
      hint.appendTo('#query_hint');
      ajaxSend('{{ url_for('variation.get_snp_info') }}',{'info': info}, function(data){
        $('#query_hint').empty();
        if(data.msg != 'ok'){
          // alert(data.msg);
            createAlert(data.msg);
          $("#query_hint").empty();
          return;
        }else{
          tableStr = createTable(data.headData, data.bodyData, tableType='snp');
          $("#results-table").html(tableStr);
          $("#region_table").DataTable({
            dom: 'lBfrtip',
            "scrollX": true,
            buttons: [
              'csv'
            ]
          });
        }
      }, 'POST');
    }else{
      return;
    }
    });
});
</script>
{% endblock %}
