.search {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
.table>tbody>tr>td{
  text-align: center;
}
.table>thead:first-child>tr:first-child>th{
  text-align: center;
}
.btn-search {
	  background: #424242;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #1c1c1c;
	}
	.btn-search:link, .btn-search:visited {
	  color: #fff;
	}
	.btn-search:active, .btn-search:hover {
	  background: #1c1c1c;
	  color: #fff;
	}
