<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>show SNP Index</title>
      <link href="../static/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
      <link href="../static/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
      <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" />
      <link href="../static/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
      <link href="../static/css/main.css" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="../static/js/jquery.min.js"></script>
      <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="../static/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="../static/js/bootstrap-select.js"></script>
      <script type="text/javascript" src="../static/js/dataTables.buttons.min.js"></script>
  </head>
  <body>
    <div id='menu'>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="fa fa-bars color-white"></span>
            </button>
            <a class="navbar-brand" href="#" data-0="line-height:90px;" data-300="line-height:50px;">Show SNP Index v1.0</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
              <li><a href='http://www.onmath.com'>Contact</a></li>
            </ul>
    </div>
  </div>
</nav>
</div>
    <div class="panel-body">
    <div class="row">
    <div class="col-xs-3">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Select a file,chromosome and input a range (<span class="text-danger">required</span>, &lt;100kb):</h3>
        </div>
    <div class="panel-body">
            <div class="form-group">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">File name:</span>
                <select class="selectpicker" data-width="25%" name="chr" id="select">


                            <option value= selected="selected"></option>



                            <option value=chr01>test1.txt</option>



                            <option value=chr02>test2.txt</option>



                            <option value=chr03>test3.txt</option>

                </select>
            </div>
            <br>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Chromsome:</span>
                <select class="selectpicker" data-width="25%" name="chr" id="select">


                            <option value= selected="selected"></option>



                            <option value=chr01>chr01</option>



                            <option value=chr02>chr02</option>



                            <option value=chr03>chr03</option>



                            <option value=chr04>chr04</option>



                            <option value=chr05>chr05</option>



                            <option value=chr06>chr06</option>



                            <option value=chr07>chr07</option>



                            <option value=chr08>chr08</option>



                            <option value=chr09>chr09</option>



                            <option value=chr10>chr10</option>



                            <option value=chr11>chr11</option>



                            <option value=chr12>chr12</option>


                </select>
            </div>
            </div>
            <br/>
            <div class="form-group">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Start position:</span>
                <input type="text" class="form-control input-group-sm"  name="pos_start" >
            </div>
            </div>
            <br/>
            <div class="form-group">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">End position:</span>
                <input type="text" class="form-control input-group-sm"  name="pos_end" >
            </div>
            </div>
    		</div>
      </div>
 </div>
 <!-- right -->
 <div class="col-xs-9">
    <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-4">
              <h3 class="panel-title">select samples displayed in the result (<span class='text-danger'>optional</span>):</h3>
            </div>
            <div class="col-xs-8">
              <div class="input-group search">
                <input type="text" class="form-control" placeholder="Search for sample...">
                <span class="input-group-btn">
                  <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i> Search</button>
                </span>
              </div>
            </div>
        </div>
        <div class="panel-body">
          <div class="col-xs-1" >
            <div class="checkbox">
              <label>
                <input type="checkbox" name ="dispop" value="All" checked>A
              </label>
            </div>
          </div>
          <div class="col-xs-1" >
           <div class="checkbox">
               <label>

                       <input type="checkbox" name ="dispop" value="Ind_All">B

               </label>
           </div>
       </div>

       <div class="col-xs-1" >
           <div class="checkbox">
               <label>

                       <input type="checkbox" name ="dispop" value="Jap_All">C

               </label>
           </div>
       </div>
       <div class="col-xs-1" >
           <div class="checkbox">
               <label>

                       <input type="checkbox" name ="dispop" value="Ind_All">D

               </label>
           </div>
       </div>

       <div class="col-xs-1" >
           <div class="checkbox">
               <label>

                       <input type="checkbox" name ="dispop" value="Jap_All">E

               </label>
           </div>
       </div>
       <div class="col-xs-1" >
           <div class="checkbox">
               <label>

                       <input type="checkbox" name ="dispop" value="Jap_All">F

               </label>
           </div>
       </div>
       <div class="col-xs-1" >
           <div class="checkbox">
               <label>

                       <input type="checkbox" name ="dispop" value="Jap_All">G

               </label>
           </div>
       </div>
       <div class="col-xs-1" >
           <div class="checkbox">
               <label>

                       <input type="checkbox" name ="dispop" value="Jap_All">H

               </label>
           </div>
       </div>
       <div class="col-xs-1" >
           <div class="checkbox">
               <label>

                       <input type="checkbox" name ="dispop" value="Jap_All">I

               </label>
           </div>
       </div>
       <div class="col-xs-1" >
           <div class="checkbox">
               <label>

                       <input type="checkbox" name ="dispop" value="Jap_All">J

               </label>
           </div>
       </div>
       <div class="col-xs-1" >
           <div class="checkbox">
               <label>

                       <input type="checkbox" name ="dispop" value="Jap_All">K

               </label>
           </div>
       </div>
       <div class="col-xs-1" >
           <div class="checkbox">
               <label>

                       <input type="checkbox" name ="dispop" value="Jap_All">L

               </label>
           </div>
       </div>
        </div>
    </div>
  </div>
</div>
</div>
      <div class="panel-body">
        <input class="btn btn-success btn-sm"  type="submit"  value="Submit">
      </div>
  </body>
</html>
