<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>show SNP Index1.12</title>
    <link href={{ url_for('static', filename='datatables/jquery.dataTables.min.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='css/jquery.dataTables.min.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='datatables/extensions/Buttons/css/buttons.dataTables.min.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='css/bootstrap.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='css/bootstrap-select.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='css/main.css') }} rel="stylesheet">
    <script type="text/javascript" src='/static/js/jquery.min.js'></script>
    <script type="text/javascript" src='/static/js/bootstrap.min.js'></script>
    <script type="text/javascript" src='/static/datatables/jquery.dataTables.min.js'></script>
    <script type="text/javascript" src='/static/js/bootstrap-select.js'></script>
    <script type="text/javascript" src="/static/js/multiselect.min.js"></script>
    <script type="text/javascript" src='/static/datatables/extensions/Buttons/js/dataTables.buttons.min.js'></script>
    <script type="text/javascript" src='/static/datatables/extensions/Buttons/js/buttons.colVis.min.js'></script>
    <script type="text/javascript" src='/static/datatables/extensions/Buttons/js/buttons.flash.min.js'></script>
    <script type="text/javascript" src='/static/datatables/extensions/Buttons/js/buttons.html5.min.js'></script>
    <script type="text/javascript" src='/static/datatables/extensions/Buttons/js/buttons.print.min.js'></script>
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <div id='menu'>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="fa fa-bars color-white"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}" data-0="line-height:90px;" data-300="line-height:50px;">Home</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Snp Index<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{{ url_for('snp.get_snp_plot') }}">Get Snp Index Plot</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Genomic Variation<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{{ url_for('main.search_by_regin') }}">Search for Variations by Region</a></li>
                  <li class="divider"></li>
                  <li><a href="{{ url_for('main.search_by_gene') }}">Search for Variations in Gene</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tools<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="http://120.76.160.204/viroblast/viroblast.php">Blast</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('tools.locus_identifier_search') }}">Search Locus Identidier Gene</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Genomic Expression<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{{ url_for('expr.show_by_gene') }}">Search for Expression by Gene</a></li>
                </ul>
              </li>
              <li><a href='http://www.onmath.com'>Contact</a></li>
            </ul>
    </div>
  </div>
</nav>
</div>
<div class="container">
    <div class="myalert"></div>
  {% block content %}
  {% endblock %}
    <hr/>
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 <a href="http://www.onmath.com">OnMath, Inc.</a> &middot; Privacy &middot; <a href="#">Terms</a></p>
    </footer>
</div>
</body>
{% block js %}
{% endblock %}
</html>
